.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  object-fit: cover;
  animation: desmanchar 3s ease-in-out infinite alternate;
  opacity: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes desmanchar {
  0% {
    opacity: 1;
    filter: none;
  }
  50% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: none;
  }
}
